@use '../../styles/variables' as *;

.btnPrimary {
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  color: var(--background-color);
  font-size: $fs-400;
  font-weight: normal;
  padding: 12px 20px;
  cursor: pointer;
}