@use '../../styles/variables' as *;

.btnPrimary {
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  color: var(--background-color);
  font-size: $fs-400;
  font-weight: normal;
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 20px 8px #7e053a40;
    transition: all .3s ease-in-out;
  }
}