@use '../../styles/variables'as *;

.JobCard {
  max-width: 430px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
}

.idGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    background-color: #fa8f0d80;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: $fs-300;
  }

  .share {
    padding-top: 10px;
    background-color: transparent;
    font-size: 2rem;
    border: 0;
    color: var(--text-color);
    cursor: pointer;
  }
}

.vacancy {
  .title {
    font-weight: bold;
    font-size: $fs-500;
  }

  .infoGroup {
    display: flex;
    gap: 10px;
    font-size: $fs-300;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: $fs-300;

  p {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  span {
    color: var(--primary-color);
    display: flex;
    align-items: center;
  }
}

.requirements {
  font-size: $fs-300;

  .title {
    font-weight: bold;
  }
}

.activities {
  font-size: $fs-300;

  .title {
    font-weight: bold;
  }
}