@import '../../styles/variables';

.card{
  max-width: 800px;
  height: 300px;
  width: 100%;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    height: 400px;
  }
}

.title{
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--background-color);
}

.description{
  font-size: $fs-500;
  margin-bottom: 15px;
  color: var(--background-color);
}

.btn{
  font-size: $fs-400;
  padding: 12px 25px;
  border-radius: 50px;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
}