@use "@/styles/variables"as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: -50px;

  @media (min-width: #{$breakpoint-desktop}) {
    height: 100vh;
    margin-top: -80px;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  flex-grow: 1;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row !important;
    gap: 60px;
    align-items: center;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 1.3rem;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: 800;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: $font-size-xl;
      line-height: $line-height-xl;
    }
  }

  h3 {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 400;

    @media (min-width: $breakpoint-desktop) {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    align-items: start;
    justify-content: center;
    text-align: start;
  }
}

.buttonContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;

  button {
    text-transform: uppercase;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    justify-content: start;
  }
}

.heroImage {
  width: 250px;

  @media (min-width: $breakpoint-tablet) {
    width: 350px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 950px;
  }
}

.clientsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  width: 100%;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background: $text-primary;
  opacity: 0.5;
}

.title {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;
  font-weight: 300;
  white-space: nowrap;
}