@use "@/styles/variables"as *;

.heroContainer{
    img{
        display: none;
    }

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row;
        gap: 60px;

        img{
            display: block;
        }
    }
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;

    h1{
        font-size: $font-size-xl;
        text-transform: uppercase;
        font-weight: 800;
    }

    h3{
        font-size: $font-size-md;
        font-weight: 400;
    }

    @media (min-width: $breakpoint-desktop){
        align-items: start;
        text-align: start;
    }
}

.buttonContainer{
    display: flex;
    gap: 20px;
    flex-direction: column;

    button{
        text-transform: uppercase;
        font-size: $font-size-md;
    }

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
    }
}