@use "@/styles/variables" as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding in the calculation */
  
  /* Mobile */
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100vh - 80px); /* 80px = your header's height */

  @media (min-width: $breakpoint-desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    height: calc(100vh - 80px); /* Still subtracting the header height */
  }
}



.heroContainer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row !important;
    gap: 50px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: $font-size-xl;
      line-height: $line-height-xl;
    }
  }

  h3 {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 400;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    align-items: start;
    text-align: start;
  }
}

.buttonContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;

  button {
    text-transform: uppercase;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    justify-content: start;
  }
}

.heroImage {
  width: 230px;

  @media (min-width: $breakpoint-tablet) {
    width: 340px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 900px;
  }
}

.clientsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-top: auto;
  max-height: 200px;

  @media (min-width: $breakpoint-desktop) {
    max-height: 250px;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .clientsSection {
    display: none !important;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  width: 100%;
  margin-bottom: 15px;
}

.line {
  flex: 1;
  height: 1px;
  background: $text-primary;
  opacity: 0.5;
}

.title {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;
  font-weight: 300;
  white-space: nowrap;
}
