@use "@/styles/variables"as *;

.jobGrid {
  display: grid;
  gap: 24px;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(auto-fit, 360px);
  }
}

.viewAll {
  display: flex;
  justify-content: center;
}