@import "../../../styles/variables";

.featureCard {
  padding: 25px 16px;
  height: 100%;
  border: 1px solid $border;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;

  :nth-child(1) {
    font-size: 3rem;
    color: $primary;
    margin-bottom: -5px;
  }

  :nth-child(2) {
    font-size: $font-size-md;
    font-weight: bold;
  }

  :nth-child(3) {
    font-size: $font-size-base;
    color: $text-secondary;
  }
}
