@use "@/styles/variables"as *;

.featureCard {
  padding: 25px 16px;
  height: 100%;
  border: 1px solid $border;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease;

  &:hover {
    border-color: $primary;
    transform: scale(1.02);
  }
}

.icon {
  font-size: 3rem;
  color: $primary;
  margin-bottom: -5px;
}

.title {
  font-size: $font-size-md;
  font-weight: bold;
}

.description {
  font-size: $font-size-base;
  color: $text-secondary;
}