@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

:root {
  //colors
  --background-color: #fff6f0;
  --text-color: #3a2640;
  --primary-color: #7e053a;
  --secondary-color: #b74230;
  --accent-color: #fa8f0d;
}

.container{
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (min-width: 641px) {
    max-width: 1024px;
  }

  @media (min-width: 1024px) {
    max-width: 1440px;
  }
}