@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

:root {
  --background-color: #fffdfc;
  --light-yellow: #fff6f0;
  --text-color: #3a2640;
  --primary-color: #7e053a;
  --secondary-color: #b74230;
  --accent-color: #fa8f0d;
  --border-color: #e1e3e1;
}

.container {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (min-width: 641px) {
    max-width: 1024px;
  }

  @media (min-width: 1024px) {
    max-width: 1440px;
  }
}

.paddingSection {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  font-size: variables.$fs-800;
  text-align: center;
  font-family: variables.$ff-primary;
  line-height: 55px;
}

.subtitle {
  text-align: center;
  font-weight: 600;
  font-size: variables.$fs-500;
}


.lightText{
  color: var(--background-color);
}

.darkText{
  color: var(--text-color);
}