@use '_variables'as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html{
  scroll-behavior: smooth;
}

body {
  color: $text-primary;
  background-color: $background;
}

.container {
  width: 100%;
  max-width: $breakpoint-mobile;
  margin: 0 auto;

  @media (min-width: $breakpoint-mobile) {
    max-width: 1024px;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: 1440px;
  }
}

.section {
  width: 100%;
  padding: 72px 16px;
  display: flex;
  flex-direction: column;
  gap: 56px;

  @media (min-width: $breakpoint-mobile) {
    padding: 72px 16px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 72px 120px;
  }
}

.grayBackground{
  background-color: $background-light;
}

.primaryBackground{
  background-color: $primary;
}