@use "@/styles/variables"as *;

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 36px;

  hr {
    border: 1px solid #acacac;
    border-top: 0;
  }
}

.testimonialText {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: $font-size-base;
  line-height: $line-height-base;

  .icon {
    color: $primary;
    font-size: 40px;
  }

  .text {
    font-style: italic;
  }
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-size: $font-size-base;
  font-weight: 600;
  text-transform: uppercase;
}

.role {
  font-size: $font-size-base;
  text-transform: uppercase;
  color: $text-secondary;
}