@use "@/styles/variables"as *;

.serviceCard {
  max-width: 600px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid $border;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: $primary;
  }

  &:hover .image img {
    transform: scale(1.1);
    transition: 0.4s all ease-in-out;
  }

  &:hover .icon {
    color: $background-light;
    background-color: $primary;
    transition: 0.4s all ease-in-out;
  }
}

.image {
  height: 200px;
  overflow: hidden;
  transform-origin: 0 0;
  transition: transform 0.25s ease-in, visibility 0.25s ease-in;
  border-radius: 9px 9px 0 0;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.cardInfo {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;

  .title {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: $primary;
    margin-top: -15px;
  }

  .description {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: 600;
  }
}

.icon {
  position: relative;
  left: 0;
  margin-top: -46px;
  padding: 8px 10px;
  color: $primary;
  background-color: #fafafa;
  border-radius: 7px;
  align-self: flex-end;
  z-index: 2;

  -webkit-box-shadow: inset 0px -26px 0px 0px $primary;
  -moz-box-shadow: inset 0px -26px 0px 0px $primary;
  box-shadow: inset 0px -3px 0px 0px $primary;
}

.features {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    display: flex;
    align-items: center;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-secondary;
    font-weight: 400;
    gap: 5px;

    span {
      color: $primary;
    }
  }
}