@import "../../../styles/variables";

.serviceCard {
  max-width: 600px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid $border;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.cardInfo {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 30px;
  gap: 5px;

  :nth-child(2) {
    font-size: $font-size-sm;
    color: $primary;
  }

  :nth-child(3) {
    font-size: $font-size-md;
    font-weight: 600;
  }
}

.icon {
  position: relative;
  left: 0px;
  margin-top: -55px;
  padding: 8px 8px 5px;
  color: $primary;
  background-color: #fafafa;
  border-radius: 7px;
  border-bottom: 3px solid $primary;
  align-self: flex-end;

}

.features {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    display: flex;
    align-items: center;
    font-size: $font-size-base !important;
    color: $text-secondary !important;
    font-weight: 400 !important;
    gap: 5px;

    span {
      color: $primary;
    }
  }
}
