@use "@/styles/variables"as *;

.wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel {
  width: 100%;
  background: transparent;
}

.imageWrapper {
  display: inline-flex;
  justify-content: center;
  padding: 0 16px;
  align-items: center;
  filter: grayscale(100%) contrast(100%);
  pointer-events: none;
}

.image {
  user-select: none;
}

.gradientLeft{
  content: '';
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%); 
  z-index: 2; 
  width: 120px;
  height: 30px;
  position: absolute;
}

.gradientRight{
  content: '';
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%); 
  z-index: 2; 
  width: 120px;
  height: 30px;
  position: absolute;
  right: 0;
}