@use "@/styles/variables"as *;

.header {
  background: $background;
}

.container {
  width: 100%;
  max-width: $breakpoint-mobile;
  margin: 0 auto;

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-tablet;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-desktop;
  }
}

.section {
  width: 100%;
  height: 80px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpoint-mobile) {
    padding: 0 16px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0 120px;
  }
}

.navbar {
  display: flex;
  gap: 24px;

  @media (max-width: $breakpoint-mobile) {
    gap: 16px;
  }
}

.navItem {
  color: white;
  text-decoration: none;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.buttonText {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}