@use '../../styles/variables' as *;;

.input{
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  gap: 10px;

  label{
    text-transform: uppercase;
    font-size: $fs-300;
    font-weight: bold;
  }

  input{
    padding: 20px;
    font-size: $fs-300;
    border-radius: 10px;
    border: none;
    background-color: #3a264015;
    color: var(--text-color);
  }
  
  input::placeholder{
    color: #3a264090;
  }
  
  input:focus{
    outline: 2px solid var(--text-color);
  }
}
