@use '../styles/variables';

.header {
  text-align: center;
  color: var(--text-color);
  padding: 100px 0 150px;

  background-image: url('../public/header-waves.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  @media (min-width: 1024px) {
    text-align: flex-start;
  }
}

.headerContainer {
  @media (min-width: 1024px) {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  img {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      max-width: 500px;
      height: auto;
      width: 100%;
    }
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h1 {
    font-size: variables.$fs-800;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 53px;
  }

  p {
    font-size: variables.$fs-500;
    font-weight: 600;
  }

  .btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .btnGroup button:hover {
    transform: translateY(-8px);
    transition: .3s all ease-in-out;
  }
}

.lastVacancies {
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 0;

  a {
    font-size: variables.$fs-500;
    color: var(--text-color);
  }

  p {
    margin-top: 10px;
    font-size: 2.5rem;
    color: var(--text-color);
  }
}

//Vagas Recentes 
.vacancies {
  background: var(--primary-color);
}

.viewMoreButton {
  text-align: center;
  margin-top: 50px;
}

.recentVacancies {
  display: grid;
  place-items: center;
  gap: 20px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Serviços
.servicesCards {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 70px;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 30px;
  }
}

//Qualidades
.qualities {

  div:first-child {
    display: grid;
    place-items: center;
    gap: 40px;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      place-items: inherit;
      align-items: center;
    }

    .imgHoverZoom {
      width: 100%;
    }

    img {
      max-width: 700px;
      width: 100%;
      border-radius: 18px;
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }
}

.qualityTitle {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  margin-bottom: 20px;
  align-items: flex-start !important;

  h4,
  h3 {
    text-align: center !important;
  }

  @media (min-width: 1024px) {
    display: flex !important;
    justify-content: flex-start;

    h4,
    h3 {
      text-align: left !important;
    }

  }
}

.qualityList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
}

.listItem {
  font-size: variables.$fs-400;
  display: flex;
  align-items: center;
  gap: 10px;
}

.listIcon {
  color: var(--accent-color);
}

//Sobre Nós
.about {
  background: var(--light-yellow);

  div:first-child {
    display: grid;
    place-items: center;
    gap: 40px;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      place-items: inherit;
      align-items: center;
    }

    img {
      max-width: 700px;
      width: 100%;
      border-radius: 18px;
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }
}

.aboutGroup {
  display: flex !important;
  gap: 20px !important;
  flex-direction: column;

  p {
    font-size: variables.$fs-400;
  }
}

.aboutTitle {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  margin-bottom: 20px;
  align-items: flex-start !important;

  h4,
  h3 {
    text-align: center !important;
  }

  @media (min-width: 1024px) {
    display: flex !important;
    justify-content: flex-start;

    h4,
    h3 {
      text-align: left !important;
    }

  }
}

//Contato
.contact {
  background-color: var(--light-yellow);
}

.contactContainer {
  display: grid;
  place-items: center;
  gap: 40px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

//bounce animation
.bounce {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {

  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  70% {
    transform: translateY(-12px);
  }

  90% {
    transform: translateY(-4px);
  }
}

//image hover zoom
.imgHoverZoom {
  overflow: hidden;
  border-radius: 18px;
}

/* [2] Transition property for smooth transformation of images */
.imgHoverZoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.imgHoverZoom:hover img {
  transform: scale(1.1);
}