@use '../styles/variables';

.header {
  background-color: var(--background-color);
  text-align: center;
  color: var(--text-color);
  padding: 100px 0 200px;

  background-image: url('../public/header-waves.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  @media (min-width: 1024px) {
    text-align: start;
  }
}

.headerContainer {
  @media (min-width: 1024px) {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  img {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h1 {
    font-size: variables.$fs-900;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 69px;
  }

  h2 {
    font-size: variables.$fs-600;
    font-weight: normal;
  }

  .btnGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}

.vacancies{
  background: var(--primary-color);
}

.vancacyButton p{
  text-align: center;
  margin-top: 50px;
  
  button{
    border: 2px solid var(--background-color);
  }
}

.recentVacancies {
  display: grid;
  place-items: center;
  gap: 20px;

  div{
    background: var(--background-color);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact{
  background-color: var(--background-color);
}

.contactContainer{
  display: grid;
  place-items: center;
  gap: 40px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}