@use "@/styles/variables"as *;

.faqCard {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid $border;
  transition: border 0.3s ease;
}

.faqCard:hover {
  border-color: $primary;
}

.question {
  width: 100%;
  background: transparent;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 600;
  padding: 20px;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: $text-primary;

  .icon {
    color: $primary;
    transition: transform 0.3s ease;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.open {
  .answer {
    max-height: 500px;
    padding: 0px 20px 20px;
  }

  .icon {
    color: $primary;
    transform: rotate(180deg);
  }
}