.centeredElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  justify-self: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.grid {
  justify-self: center;
  display: grid;
  gap: 20px;
  margin-bottom: 50px;

  @media (min-width: 641px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}