@use "@/styles/variables"as *;

.testimonialsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonialWrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  padding: 0 10px;
}