@use "@/styles/variables"as *;

.card {
  padding: 30px 25px;
  border-radius: 18px;
  border: 1px solid $border;
  transition: 0.3s all ease-in-out;
  background-color: $background;

  &:hover {
    border: 1px solid $primary;
    transform: scale(1.02);
  }

  hr {
    border: 1px solid #dee1e3;
    border-top: 0;
  }
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    color: #dee1e3;
    font-size: 3rem;
  }

  .jobId {
    background-color: hsla(33, 96%, 52%, 0.4);
    font-size: $font-size-base;
    padding: 10px 16px;
    border-radius: 30px;
    font-weight: 600;
  }
}

.jobInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;

  h3 {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: 800;
  }

  p {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-secondary;
  }
}

.jobDetails {
  list-style: none;
  padding: 0;

  li {
    font-size: $font-size-base;
    line-height: $line-height-base;
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}

.cardButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .link {
    text-decoration: none;
    color: $primary;
    font-weight: 600;
  }
}