@use '../../styles/variables'as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;

  .modalLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      color: var(--text-color);
      font-size: 1.5rem;
      text-decoration: none;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .modalButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    button,
    a {
      width: 100%;
    }
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.navbar {
  background: var(--background-color);
  padding: 0px 20px;
}

.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  img {
    width: 200px;
  }
}

.linksContainer {
  display: flex;
  gap: 15px;

  .linkItem {
    color: var(--text-color);
    font-weight: 500;

    &:hover {
      color: var(--primary-color);
    }
  }

  @media (max-width: 1024px) {
    display: none !important;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 1024px) {
    display: none !important;
  }
}

.menu {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-top: 10px;
  cursor: pointer;
  display: none;

  @media (max-width: 1024px) {
    display: block !important;
  }
}