@use '../../styles/variables' as *;

.navbar{
  background: var(--background-color);
}

.navbar div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  img {
    width: 200px;
  }
}

.linksContainer {
  display: flex;
  gap: 15px;

  .linkItem {
    color: var(--text-color);
    font-weight: 500;

    &:hover{
      color: var(--primary-color);
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-top: 10px;
  cursor: pointer;
}