@use "@/styles/variables"as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.markdownWrapper {
  border: 1px solid $border;
  border-radius: 18px;
  padding: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.markdownWrapper h1 {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: bold;
}

.markdown {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;

  h2 {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  p {
    margin-bottom: 24px;

    br {
      line-height: 1.5rem;
      margin-bottom: 8px;
      display: block;
      content: "";
    }
  }

  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 16px;
  }

  li {
    margin-bottom: 5px;
  }
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 70px;
}

.linkButton {
  text-decoration: none;
  color: $primary;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}