@use "@/styles/variables" as *;

.footer {
  background: $primary;
  padding: 50px 16px;
  color: $background;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: $breakpoint-mobile;
    margin: 0 auto;

    @media (min-width: $breakpoint-tablet) {
      max-width: 1024px;
    }

    @media (min-width: $breakpoint-desktop) {
      max-width: 1440px;
      align-items: normal;
      padding: 50px 120px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: $breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    .logo {
      max-width: 200px;
      max-height: 65px;
      width: 100%;
    }

    .group {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: $breakpoint-desktop) {
        text-align: start;
      }

      .title {
        font-size: $font-size-base;
        font-weight: bold;
        text-transform: uppercase;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          font-size: $font-size-base;

          a {
            text-decoration: none;
            color: $background;
          }
        }
      }
    }
  }

  .hr {
    width: 100%;
    border: 1px solid #dee1e3;
    border-top: 0;
  }

  .copyright {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      color: $background;
      font-weight: bold;
    }
  }
}
