@use "@/styles/variables"as *;

.jobsSection {
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 130vh;
}

.jobsContainer {
  width: 100%;
}

.jobGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}