@use "@/styles/variables"as *;

.ctaSection {
  background: $primary;
  padding: 30px;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: $background;
    font-size: $font-size-base;
    line-height: $line-height-base;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }

  button {
    line-height: $line-height-base;
    border: 1px solid $background;
    color: $background;
    font-size: $font-size-base;
  }
}