@use "@/styles/variables"as *;

.ctaSection {
  background: $background-light;
  padding: 30px;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: $primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }

    p{
      font-weight: 600;
    }
  }

  button {
    line-height: $line-height-base;
    color: $background;
    font-size: $font-size-base;
    background-color: $primary;
  }
}