@use "@/styles/variables"as *;

.featureContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;

  .description {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-secondary;
  }

  @media (min-width: $breakpoint-desktop) {
    align-items: start;
    text-align: start;
    width: 700px;
  }
}

.featuresGrid {
  display: grid;
  gap: 20px;

  @media (min-width: $breakpoint-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}